$pinkcolor: #d63c69;
$graycolor: #d9d9d9;
$blackcolor: #333;
$pcolor: #777;
$sitelanguage: english;
$float: left;
$textalign: left;

$maxmobile: "(max-width: 767px)";
$maxsmall: "(max-width: 991px)";

$minsmall: "(min-width: 768px)";
$minmid: "(min-width: 992px)";
$minlarge: "(min-width: 1200px)";
